:root {
    --nav-bg: #f3f3f3;
    --nav-text: #003366;
    --nav-border: #eeeeee;
    --nav-toggler-filter: none;
    --bg-color: #f5f5f5;
    --text-color: #000000;
}

.p-dark,
[data-theme='dark'] {
    --nav-bg: #0D2345;
    --nav-text: #f8f9fa;
    --nav-border: #1a2e44;
    --nav-toggler-filter: invert(1);
    --bg-color: #051221;
    --text-color: #f8f9fa;
}

html, body, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    width: 100%;
}